.hero1{
    background-image: url(../../assets/asset/banner/1.jpg);
}
.hero2{
    background-image: url(../../assets/asset/banner/2.jpg);
}
.hero3{
    background-image: url(../../assets/asset/banner/3.jpg);
}
.hero4{
    background-image: url(../../assets/asset/banner/4.jpg);
}